<div class="Home-Recent-Content">
      <img class="image" src='{{ asset("images/image6.jpg") }}' alt="Image adaptative" />
      <div class="text-container-Home">
        <h1 class="title-Home">La veille technologique</h1>
        <div class="text-Home">
          <p class="paragraph1">
            Plongez dans le monde en constante mutation de la technologie et
            découvrez pourquoi la veille informatique est un atout indispensable
            pour les développeurs !
          </p>
          <p class="paragraph2">
            Au fil de cet article, nous explorerons l'importance de la veille
            informatique, ce qu'elle implique pour les développeurs, les
            meilleures pratiques pour la mener à bien et les pièges à éviter.
          </p>
        </div>
      </div>
    </div>