    <div class="midpage">
      <div class="image-container2">
        <img  src='{{ asset("images/image7.jpg") }}' alt="Description de l'image" />
        <div class="text-container2">
          <h1 class="title2">Start-Up</h1>
          <div class="paragraph3">
            Dans le secteur de la Tech, domaine en constante évolution <br>avec de
            nouvelles possibilités et idées qui émergent <br>régulièrement les
            start-ups représentent une grande partie<br> des opportunités
            d'effectuer un stage.
          </div>
        </div>
      </div>
    </div>