    <div class="Profil">
      <div class="ProfilPicture">
        <img src='{{ asset("images/quentin.png") }}' class="ProfilPicture" alt="Q" />
      </div>
      <div class="ProfilTitle">
        <p1>Quentin Maillard</p1>
      </div>
      <div class="ProfiSublTitle">
        <p2>Développeur Fullstack</p2>
      </div>
      <div class="ProfilLink">https://www.quentinmaillard.fr/</div>
      <div class="IconeSocial">
        <div class="IconeSocial-icones">
          <img src='{{ asset("images/Group 100.png") }}' alt="" />
        </div>
        <div class="IconeSocial-icones">
          <img src='{{ asset("images/fb.png") }}' alt="" />
        </div>
        <div class="IconeSocial-icones">
          <img src='{{ asset("images/linkedin.png") }}' alt="" />
        </div>
      </div>
    </div>

