<div class="article_page_first_text_section">
      <h1 class="title13">Créer un dialogue sur l'avenir</h1>
      <p class="text13 text">
        75% des jeunes pensent que le futur est effrayant. C’est ce que révèle
        une enquête d’ampleur réalisée en 2021 auprès de 10 000 jeunes de 16 à
        25 ans dans une dizaine de pays, dont la France. Ont-ils raison d’avoir
        peur ? Pouvons-nous leur donner tort ? Là n’est pas la question car ils
        n’affirment rien ici, excepté un ressenti, une intuition, que personne
        ne peut nier ou contredire. Leurs craintes sont bien présentes, très
        prégnantes, trop préoccupantes... Une des raisons qui explique cette
        méfiance est que nous vivons dans un monde qualifié de VUCA par les
        experts : volatil, incertain, complexe et ambigu.
      </p>
</div>
<style>
@font-face {
font-family: "Ysabeau Bold";
src: {{ asset('../typo/Ysabeau-Bold.ttf') }};
}
@font-face {
font-family: "OpenSans-Regular";
src: {{ asset('../typo/OpenSans-Regular.ttf') }};
}
.title {
  color: black;
  font-size: 100px;
  font-family: "Ysabeau Bold";
  display: flex;
}
.mid_text {
  color: black;
  font-size: 30px;
  font-family: "opensans regular";
  display: flex;
}
.text {
  color: black;
  font-size: 20px;
  font-family: "OpenSans-Regular";
  display: flex;
}
.article_page_first_text_section {
  margin-block-start: 5%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}
@media (max-width: 576px) {
  .article_page_first_text_section {
    max-width: 350px;
  }
}
</style>


