<div class="article_page_second_text_section">
    <div class="text_15">
    <p class="text_151 text">
        Comme le disait si bien Sacha Guitry, on parle beaucoup trop aux
        enfants du passé et pas assez de l’avenir, c’est-à-dire trop des
        autres et pas assez d’eux-mêmes. C'est pourquoi il est grand temps
        d'offrir aux jeunes en général et aux étudiants en particulier un
        cadre propice aux échanges sur les enjeux du présent afin qu'ils
        puissent se saisir à bras-le-corps de leur avenir.
    </p>
    <p class="text_152 text">
        C’est précisément pour cela que nous avons fondé le Design Fiction
        Studio. Pour explorer avec eux de nouveaux horizons, à l’incertitude
        enthousiasmante. Pour se servir de la prospective afin d’ouvrir des
        perspectives...
    </p>
    <img class="illustartion_15" src={{ asset('img/img14.png') }} />
    <p class="text_153 text">
        Notre présent est en crise. Nous sortons d'une crise sanitaire. Une
        crise politique et sociale est en cours. Nous sommes en pleine amorce
        de crise écologique et la crise économique n'est pas à exclure. Pour
        remédier à cette morosité ambiante, nous pourrions nous tourner vers
        l’avenir en nous réfugiant dans l’espoir d’issues favorables. Attendre
        patiemment le fameux monde nouveau qui nous a été promis. S’accrocher
        au postulat d’un futur meilleur qui nous serait transmis.
    </p>
    <p class="text_154 text">
        Cette douce illusion s’estompe dès l’instant que nous cherchons à la
        faire naître, tant nous semblons limités par des projections toujours
        plus inquiétantes, loin d’être réjouissantes. Voici pourquoi nous nous
        sentons bloqués dans un présent en crise, anxieux à l’idée de se faire
        inexorablement happer par un futur encore plus problématique.
    </p>
    </div>
</div>

<style>
@font-face {
font-family: "Ysabeau Bold";
src: {{ asset('../typo/Ysabeau-Bold.ttf') }};
}
@font-face {
font-family: "OpenSans-Regular";
src: {{ asset('../typo/OpenSans-Regular.ttf') }};
}
.title {
  color: black;
  font-size: 100px;
  font-family: "Ysabeau Bold";
  display: flex;
}
.mid_text {
  color: black;
  font-size: 30px;
  font-family: "opensans regular";
  display: flex;
}
.text {
  color: black;
  font-size: 20px;
  font-family: "OpenSans-Regular";
  display: flex;
}
.article_page_second_text_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
@media (max-width: 576px) {
  .bloarticle_page_second_text_section {
    max-width: 350px;
  }
}

</style>

