<div class="article_page_introduction_image">
<img class="article_illustration" src={{ asset('images/img10.png') }} />
</div>

<style>
@font-face {
font-family: "Ysabeau Bold";
src: {{ asset('../typo/Ysabeau-Bold.ttf') }};
}
@font-face {
font-family: "OpenSans-Regular";
src: {{ asset('../typo/OpenSans-Regular.ttf') }};
}
.title {
  color: black;
  font-size: 100px;
  font-family: "Ysabeau Bold";
  display: flex;
}
.mid_text {
  color: black;
  font-size: 30px;
  font-family: "opensans regular";
  display: flex;
}
.text {
  color: black;
  font-size: 20px;
  font-family: "OpenSans-Regular";
  display: flex;
}
.article_page_introduction_image {
  margin-block-start: 5%;
}
.article_illustration {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 576px) {
  .article_page_introduction_image {
    max-width: 350px;
  }
}
</style>
