<div class="article_page_author">
  <img class="line_27" src={{ asset('images/img17.png') }} />
  <div class="author1">
    <div class="author_description1">
      <h4 class="author_name27 mid_text">Grégoire Charrassin</h4>
      <p class="text">
        Co-fondateur du Design Fiction Studio, Web et Graphic Designer
        indépendant et Intervenant
      </p>
    </div>
    <img class="author_271" src={{ asset('images/img19.svg') }} />
  </div>
  <div class="author2">
  <div class="author_description2">
    <h4 class="author_name271 mid_text">Adrien Rivierre</h4>
    <p class="text">
      Fondateur de Résonances et Narratopia Co-fondateur du Design Fiction
      Studiot
    </p>
  </div>
  <img class="author_272" src={{ asset('images/img19.svg') }} />
</div>
