body{
    margin: 0;
}

.container {
display: flex;
justify-content: center;
}

.column {
flex: 1;
padding: 10px;
text-align: center;
position: relative;
max-width: 400px; /* Définissez la largeur maximale souhaitée */
margin: 0 auto; /* Centre les blocs de texte horizontalement */
}

.vector {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: -1;
}

@media (max-width: 600px) {
/* Modifiez la largeur de la fenêtre en fonction de votre besoin */
.container {
flex-direction: column; /* Les blocs de texte passent à la suite */
}
}