<div class="container-box">
      <div class="box">
        <h2>Les bienfaits de la création innocente</h2>
        <img     src='{{ asset("images/image9.jpg") }}' alt="Image 1" />
        <p>
          Chaque réussite commence par une esquisse innocente, une tentative
          infructueuse, une création sans prétention.
        </p>
      </div>
      <div class="box">
        <h2>Interview de Brontis GUILLOUX</h2>
        <img     src='{{ asset("images/image10.jpg") }}' alt="Image 2" />
        <p>Entretien avec le responsable pedagogique des bachelors WEB</p>
      </div>
      <div class="box">
        <h2>3 conseils pour l'alternance</h2>
        <img     src='{{ asset("images/image11.jpg") }}' alt="Image 3" />
        <p>
          Une ancienne Heticienne, actuellement dévellopeuse FrontEnd chez
          Canal+ partage ses expériences sur l'alternance.
        </p>
      </div>
      <div class="box">
        <h2>La veille technologique</h2>
        <img     src='{{ asset("images/image12.jpg") }}' alt="Image 4" />
        <p>
          Plongez dans le monde en constante mutation de la technologie et
          découvrez pourquoi la veille informatique est un atout indispensable
          pour les développeurs !
        </p>
      </div>
    </div>