      <div class="container-box2">
        <div class = "container_card_left">
        <div class="box2">
          <h2>Les bienfaits de la création innocente</h2>
          <img src='{{ asset("images/Rectangle 333.svg") }}'  alt="Image 1" />
          <p>
            Dans le secteur de la Tech, domaine en constante évolution avec de 
            nouvelles possibilités et idées qui émergent régulièrement les start-ups représentent
             une grande partie des opportunités d’effectuer un stage.

          </p>
        </div>
        <div class="box2">
          <h2>Interview de Brontis GUILLOUX</h2>
          <img src='{{ asset("images/Rectanglearticle.svg") }}' alt="Image 2" />
          <p>Une réflexion sur le Design dans les années futures, 
            sur l’arrivée des nouvelles technologies et les
             questions qu’elles soulevent. </p>
        </div>
      </div>
        <div class="large-box2">
          <h2>La veille technologique</h2>
          <img src='{{ asset("images/large.svg") }}' alt="Image 4" />
          <p>
            Plongez dans le monde en constante mutation de la technologie et
            découvrez pourquoi la veille informatique est un atout indispensable
            pour les développeurs !
          </p>
        </div>
      </div>
  