    <div class="fullpage">
      <div class="image-container3">
        <img class="image2" src='{{ asset("images/image8.jpg") }}' alt="" />
        <div class="text-container3">
          <h1 class="title3">Start-Up</h1>
          <div class="paragraph4">
            Dans le secteur de la Tech, domaine en constante évolution avec de
            nouvelles possibilités et idées qui émergent régulièrement les
            start-ups représentent une grande partie des opportunités
            d'effectuer un stage.
          </div>
        </div>
      </div>
    </div>
   